:root{
    --tertiary-color: #FDF8F8;
    --primary-color:#fff;
    --secondary-color:#000;
    --orange-color:#F6683F;
    --arrow-color:#48B1B0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body{
    font-style: normal;
    line-height: normal;
}
.col{
    background-color: var(--tertiary-color);
}
header{
    max-width: 1170px;
    margin: auto;
}
#navbar{
    height: 88px;
    gap: 178px;
    display: flex;
    flex-shrink: 0;
}
#colored{
    width: 124px;
    height: 88px;
    border-radius: 0px 0px 8px 8px;
    background-color: var(--orange-color);
    color: var(--primary-color);
    flex-shrink: 0;
}
.logo{
font-family: "GT Walsheim Pro";
font-size: 32px;
margin-top: 40px;
font-weight: 700;
margin-bottom: 5px;

}
ul{
    display:flex;
    gap: 48px;
    margin-bottom: 17px;
    
}
li{
    font-family: "Mulish";
    list-style-type: none;
    padding-top: 51px;
    font-weight: 700;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: var(--secondary-color);
}
a:hover{
    color: var(--orange-color);
}
/* Section A */
.A{
    max-width: 1170px;
    margin: auto;
    text-align: center;
    margin-bottom: 135px;
}
h1{
margin-top: 133px;
font-family: "GT Walsheim Pro";
font-size: 80px;
font-weight: 700;
}
h3{
margin-top: 32px;
font-family: "Mulish";
font-size: 28px;
font-weight: 400;
}
.note{
   margin-top: 67px;
   font-family: "Mulish";
   font-size: 14px;
   font-weight: 400;
}
/* Section B */
.B{
    max-width: 1170px;
    margin: auto;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-bottom: 60px;
}
.item{
    display: grid;
    grid-template-rows: repeat(2,1fr);
}
h4{
font-family: "GT Walsheim Pro";
font-size: 32px;
font-weight: 700;
line-height: 36px;
}
.item-2
{
 gap: 30px;
 margin-left: 20%;
}
.para{
font-family: "Mulish";
font-size: 16px;
font-weight: 400;
line-height: 170%;
}
/* Sec C */
.C{
    max-width: 1170px;
    margin: auto;
    text-align: center;
   
}
.items{
    margin-top: 80px;
    /* border: 2px solid black; */
}
h2{
font-family: "GT Walsheim Pro";
font-size: 48px;
font-weight: 700;
margin-top: 80px;
}
.k{
    text-align: center;
    font-family:" Mulish";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 36px;
}
.D{
    max-width: 1170px;
    margin: auto;
}
span{
    width: 2px;
   height: 170px;
   background: var(--orange-color);
}
#change{
    margin-left: 90px;
}
.box-1,.box-3,.box-5{
    margin-top: 120px;
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
    gap: 30px;
    
}
.box-2,.box-4,.box-6{
    margin-top: 120px;
    display: inline-flex;
    align-items: center;
    margin-left: 500px;
    gap: 30px;
}
.hero{
font-family: "GT Walsheim Pro";
font-size: 48px;
font-weight: 700;
}
.content{
    display: inline;
    grid-template-rows: repeat(2,1fr);
}
h4{
font-family: "GT Walsheim Pro";
font-size: 32px;
font-weight: 700;
}
p{
font-family: "Mulish";
font-size: 16px;
font-weight: 400;
line-height: 170%;
}
.E{
    max-width: 1170px;
    margin: auto;
    text-align: center;
}
.h{
    margin-top: 80px;
    text-align: center;
    font-family: "GT Walsheim Pro";
    font-size: 48px;
    font-weight: 700;
}
.active{
text-align: center;
margin-top: 30px;
font-family: "Mulish";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 120px;
}
.pic-1,.pic-2,.pic-3{
display: inline-flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 24px;
}
.opt{
text-align: center;
font-family: "Mulish";
font-size: 24px;
font-weight: 400;
margin-bottom: 80px;
}
button{
font-family: "GT Walsheim Pro";
color: var(--primary-color);
background-color: var(--secondary-color);
font-size: 20px;
font-weight: 700;
border-radius: 8px;
padding: 20px 56px;
margin-bottom: 80px;
}
.F{ 
    max-width: 1170px;
    margin: auto;
    text-align: center;
}
.top{
font-family: "GT Walsheim Pro";
font-size: 48px;
font-weight: 700;
margin-bottom: 30px;
}
.typo{
font-family: "Mulish";
font-size: 24px;
font-weight: 400;
margin-bottom: 80px;
}
.progress{
margin-top: 80px;
display: inline-flex;
flex-direction: row;
align-items: center;
gap: 80px;
}
.circle{
    width: 240px;
    height: 240px;
    background-color: var(--orange-color);
    border-radius: 50%;
    opacity: 0.8;
    margin-bottom: 40px;
}
.value{
    font-family: "GT Walsheim Pro";
    font-size: 48px;
    font-weight: 700;
    position: relative;
    padding: 60px;
    margin: 35px;
    border-radius: 50%;
    background-color: #fff;
}
.sub-title{
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    gap:150px;
    margin-bottom: 160px;
}
.G{
    max-width: 1170px;
    margin: auto;
    text-align: center;
}
.cont{
font-family: "GT Walsheim Pro";
font-size: 48px;
font-weight: 700;
margin-bottom: 36px;
}
.cont-1{
font-family: "Mulish";
font-size: 24px;
font-weight: 400;
margin-bottom: 130px;
}
.pics{
    display: grid;
    grid-template-columns: repeat(4,3fr);
    grid-template-rows: repeat(3,4fr);
    gap: 80px;
}
.line{
    margin-left: 100px;
    margin-top: 20px;
    width: 20px;
    height: 4px;
    background: var(--orange-color);
}
.but{
    font-family: "GT Walsheim Pro";
    font-size: 24px;
    outline-style:1px solid #F6683F;
    font-weight: 700;
    margin-bottom: 80px;
}
.h{
    max-width: 1170px;
    margin: auto;
    text-align: center;
}
.nope{
margin-top: 80px;
font-family: "GT Walsheim Pro";
font-size: 48px;
font-weight: 700;
}
.yup{
margin-top: 36px;
font-family: "Mulish";
font-size: 24px;
font-weight: 400;
margin-bottom:138pxpx;
}
.demo{
    text-align: center;
    margin-top:40px;
    background: var(--tertiary-color);
}
.flag{
    margin-top: 160px;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}
.cons{
font-family: "GT Walsheim Pro";
margin-top: 20px;
font-size: 32px;
font-weight: 700;
line-height: 36px;
margin-bottom: 24px;
}
.ch{
font-family: "Mulish";
font-size: 16px;
font-weight: 400;
line-height: 170%;
}
.img-idea{
flex-shrink: 0;
text-align: center;
margin-left:120px;
margin-bottom: 60px;
}
.btn{
    margin-top: 50px;
    margin-left: 150px;
}
.contest{
    text-align: center;
    max-width: 1170px;
    margin: auto;
}
.faq{
font-family: "GT Walsheim Pro";
margin-top: 120px;
font-size: 48px;
font-weight: 700;
margin-bottom: 80px;
}
.q{
font-family:" Mulish";
font-size: 24px;
font-weight: 700;
line-height: 36px; 
}
.fa-solid{
width: 32px;
height: 32px;
color: var(--arrow-color);
}
.ques-1{
width: 1170px;
display: flex;
gap: 625px;
border-bottom: 1px solid var(--orange-color);
margin-bottom: 32px;
}
.ques-2{
    width: 1170px;
    display: flex;
    gap: 581px;
    border-bottom: 1px solid var(--orange-color);
    margin-bottom: 32px;
    }
.ques-3{
        width: 1170px;
        display: flex;
        gap: 740px;
        border-bottom: 1px solid var(--orange-color);
        margin-bottom: 32px;
        }
.ques-4{
        width: 1170px;
        display: flex;
        gap: 867px;
        border-bottom: 1px solid var(--orange-color);
        margin-bottom: 32px;
        }
.ques-5{
        width: 1170px;
        display: flex;
        gap: 751px;
        border-bottom: 1px solid var(--orange-color);
        margin-bottom: 32px;
        }
.ques-6{
        width: 1170px;
        display: flex;
        gap: 837px;
        border-bottom: 1px solid var(--orange-color);
        margin-bottom: 32px;
        }
.ques-7{
        width: 1170px;
        display: flex;
        gap: 790px;
        border-bottom: 1px solid var(--orange-color);
        margin-bottom: 32px;
        }
.ques-8{
    width: 1170px;
    display: flex;
    gap: 722px;
    border-bottom: 1px solid var(--orange-color);
    margin-bottom: 32px;
    }
.ques-9{
    width: 1170px;
    display: flex;
    gap: 603px;
    border-bottom: 1px solid var(--orange-color);
    margin-bottom: 32px;
    }
.ques-10{
    width: 1170px;
    display: flex;
    gap: 625px;
    border-bottom: 1px solid var(--orange-color);
    margin-bottom: 32px;
     }
.question{
font-family: "Mulish";
font-size: 24px;
font-weight: 700;
margin-bottom: 32px;
line-height: 36px; 
}
#fa{
width: 32px;
height: 32px;
}
.contact{
    background-color: var(--tertiary-color);
    height: 1229px;
}
.head{
text-align: center;
font-family: "GT Walsheim Pro";
padding-top: 120px;
font-size: 48px;
font-weight: 700;
padding-bottom: 60px;
}
.contact-form{
width: 570px;
height: 874px;
background-color: var(--primary-color);
margin: auto;
}
.sub{
   margin: auto;
   text-align: center;
   padding-top: 50px;
}
.sub-head{
font-family:" Mulish";
font-size: 24px;
font-weight: 400;
line-height: 36px;
padding-bottom: 24px;
}
.mail{
width: 40px;
height: 40px;
}

/* Form */
.form{
width: 430px;
height: 70px;
border-radius: 8px;
background-color: var(--tertiary-color);
margin: auto;
}
.marge{
    margin-bottom: 32px;
}
.name{
display: flex;
width: 382px;
justify-content: space-between;
padding-top: 23px;
padding-left: 24px;
}
input[type=text]{
color:  #333;
font-family: "Mulish";
font-size: 16px;
font-weight: 400;
line-height: 24px;
border: none;
background-color: var(--tertiary-color);
}
#iconic{
    width: 24px;
    height: 24px;
    padding-left: 24px;
    color: var(--orange-color);
}
input[type=email]{
    color:  #333;
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    background-color: var(--tertiary-color);
    }
.merge-1{
    margin-bottom: 32px;
}
.merge-2{
    margin-bottom: 32px;
}
#area{
width: 430px;
height: 240px;
border-radius: 8px;
margin-bottom: 32px;
}
.submission{
 display: flex;
width: 430px;
padding: 20px 56px;
justify-content: center;
align-items: center;
border-radius: 8px;
gap: 10px;
background-color: var(--secondary-color);
margin-bottom: 49px;
}
input[type=submit]{
color: var(--primary-color);
text-align: center;
font-family: "GT Walsheim Pro";
font-size: 20px;
font-weight: 700;
background-color:var(--secondary-color);
border: none;
}
/* Footer */
.footer{
    background-color: var(--secondary-color);
}
.bg-container{
    max-width: 1170px;
    height: 140px;
    margin: auto;
   
}
.nav-footer{
    padding-top: 51px;
    list-style-type: none;
    text-align: center;
}
.sec{
    max-width: 1170px;
    margin: auto;
}
.footer-head{
color: var(--primary-color);
text-align: center;
font-family: "GT Walsheim Pro";
font-size: 64px;
font-weight: 700;
}
.wishes{
color: var(--primary-color);
text-align: center;
font-family: "Mulish";
font-size: 16px;
font-weight: 400;
line-height: 24px; 
padding-top: 16px;
padding-bottom: 60px;
}
.bttn{
max-width: 1170px;
margin:auto;
color: var(--primary-color);
text-align: center;
font-family: "GT Walsheim Pro";
font-size: 20px;
width: 595px;
padding: 20px 56px;
border-radius: 8px;
border: 1px solid var(--primary-color);
margin-bottom: 112px;
}
/* bottom */
.add{
    max-width: 1170px;
    margin: auto;
    text-align: center;
    color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 175px;
    margin-bottom: 77px;
}
/* Address */
.visit{
 display: inline-flex;
flex-direction: column;
align-items: flex-start;
flex-wrap: wrap;
gap: 18px;
}
h5{
font-family: "GT Walsheim Pro";
font-size: 32px;
font-weight: 700;
}
.address{
font-family: "Mulish";
font-size: 16px;
font-weight: 400;
line-height: 24px;
padding-top: 18px;
}
/* contact */
.number{
display: inline;
gap: 16px;
}
.gmail{
display: inline-flex;
gap: 16px;
}
.no,.num{
color: var(--primary-color);
font-family: "Mulish";
font-size: 16px;
font-weight: 400;
line-height: 24px; 
background: none;
}
#icon-1{
width: 24px;
height: 24px;
color: var(--primary-color);
}
/* list */
.list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    gap: 16px;
}
li{
font-family: "Mulish";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
}
.social{
    max-width: 1170px;
    margin: auto;
    color:var(--primary-color);

}
.links{
width: 360px;
height: 24px;
display: inline-flex;
align-items: flex-start;
color: var(--primary-color);
gap: 32px;
padding-bottom: 107px;
}
